<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
    
    
    <form id="form" method="post" >
        <h1 >Register</h1>
        <label for="name">Name</label>
    <input type="text" name="name" placeholder="enter name">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="enter email"> 
    <label for="email">Password</label>
    <input type="password" name="password" placeholder="enter password"> 
    <button id="loginbtn">sign up</button>
  </form>
</main>
</body>
</html>